/* CSS Document */

body {
	font-family: georgia, tiems, serif;
	color: #333;
	font-size: 1.2rem;
	line-height: 1.4em;
	margin: 0;
}
h1{
	line-height: 1.3em;
	font-size: 2rem;
}
p {
	margin-bottom: 1.6em;
}
.container{
	width: 85%;
	max-width: 850px;
	margin: 0 auto;
	
}
/* Menu fijo xd*/
.header {
	background: #333;
	color: white;
	padding: 2rem;
	position: static;
	left: 0;
	top: 0;
	right: 0;
}
.header a{
	color: white;
	text-decoration: none;
}
.logo-nav-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	
}
.navigation ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
	.navigation ul li{
		display: inline-block;
	}
		.navigation ul li a{
			display: block;
			padding: 0.5rem 1rem;
			transition: all 0.4s linear;
			border-radius: 5px;
		}
				.navigation ul li a:hover {
					background-color: #4a4a4a;
					text-decoration: none;
					color: white;
				}
.logo {
	letter-spacing: 15px;
	font-size: 1.4em;
	font-family: 'Lobster', cursive;
	text-decoration: none;
	color: white;
	width: 200px;
}
.menu-icon{
	display: none;
}
.footer {
	background: #f2f2f2;
	padding: 2rem 0;
	text-align: center;
	margin-top: 2rem;
}
.main {
	padding-top: 12rem;
}
.iconmenu {
	width: 70px;
	height: auto;
}
.iconmenu:hover {
	-webkit-filter: invert(100%);
	transition: 2s;
}
.socialicon{
	width: 50px;
	height: auto;
}
/*imagen*/

.img1 {
				float: right;
				width: 30%;
				height: auto;
				border-radius: 1.5px;
				}

/*fondo con texto*/
.fondo {
	background: url("../thumb/bird-s-eye-view-of-road-during-daytime-3467150.jpg");
	background-size: cover;
	height: 100%vh;
	clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
	background-attachment: fixed;
	
}
@media only screen and (max-width: 767px) {
	
	.menu-icon{
		display: block;
		cursor: pointer;
		padding: 0.5rem 1rem;
	}
	.navigation {
		width: 100%;
		margin-top: 1rem;
	}
	.navigation ul {
		display: none;
		
	}
	.navigation ul.show {
		display: block;
		
	}
	.navigation ul li{
		display: block;
	}
		.navigation ul li a{
			display: block;
			padding: 0.5rem 0;
			transition: all 0.4s linear;
			border-radius: 5px;
		}
				.navigation ul li a:hover {
					background-color: #4a4a4a;
				}
	.img1 {
		width: 50%; 
	}
	.logo {
		width: 100px;
	}
	.footer {
	padding: 2rem;
	margin-top: 2rem;
	}
}


/*titulo*/
.titulo {
	font-family: "alexa-std",damion,"aguafina-script",clara,"brush-script-std";
	font-size: 30px;
	
}
/*Bienvenida*/
.bienvenida {
	display: inline-block;
	position: relative;
	font-family: 'Dancing script', cursive;
}

.bienvenida::after,.bienvenida::before {
	content: '';
	position: absolute;
	width: 120px;
	height: 3px;
	background-color: currentColor;
	top: 0.6em;
}
.bienvenida::before {
	left: -140px;
}
.bienvenida::after {
	right: -140px;
}
/*add*/
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 5;
  }
  @include media-breakpoint-only(xl) {
    column-count: 6;
  }
}


/*tablas*/
table{
	align-content: center;
	padding: 10%;
	width: 80%;
}
.lmao{
	background-image: url("../thumb/bird-s-eye-view-of-road-during-daytime-3467150.jpg");

	background-size: cover;
	height: 100%vh;
	clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
	background-attachment: fixed;
}